# Turn on the Rewrite Engine
RewriteEngine On

# BEGIN FEEDPRESS
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} !FeedValidator [NC]
RewriteCond %{HTTP_USER_AGENT} !FeedPress [NC]
RewriteRule ^feed/?$ http://feedpress.me/high90 [R=302,NC,L]
# END FEEDPRESS


RewriteCond %{HTTP_HOST} ^high90\.pub$ [OR]
RewriteCond %{HTTP_HOST} ^www\.high90\.pub$ [OR]
RewriteCond %{HTTP_HOST} ^themindfulbit\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.themindfulbit\.com$
RewriteRule (.*)$ http://high90.com/$1 [R=301,L]


# ------------------------------------------------------------------------------
# Dynamic RewriteBase
# ------------------------------------------------------------------------------
# For most servers, this will be able to dynamically find your site's root,
# but if it doesn't for you, comment out these next two lines...
RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
RewriteRule ^(.*)$ - [E=BASE:%1]

# ...and uncomment out the following line, then set as you need to
#RewriteBase /


# ------------------------------------------------------------------------------
# Protect System Files
# ------------------------------------------------------------------------------
RewriteRule ^_app - [F,L]
RewriteRule ^_config - [F,L]
RewriteRule ^_cache - [F,L]
RewriteRule ^_content - [F,L]
RewriteRule ^_logs - [F,L]
RewriteRule ^_storage - [F,L]
RewriteRule ^admin/themes/[^/]*/(?:layouts|templates) - [F,L]
RewriteRule ^.*?\.yml$ - [F,L]
RewriteRule ^.*?\.yaml$ - [F,L]
RewriteRule ^.*/?\.git+ - [F,L]

# This will prevent all .html files from being accessed.
# You may want to remove this line if you want to serve
# static files outside of Statamic
# RewriteRule ^(.*)?\.html$ - [F,L]


# ------------------------------------------------------------------------------
# Remove Trailing Slashes from URL
# ------------------------------------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\/(\?.*)?$ $1$2 [R=301,L]


# ------------------------------------------------------------------------------
# Remove the Index File
# ------------------------------------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

RewriteRule ^[0-9]+/?[0-9]+/?[0-9]+/?([^/]+)/?$ /blog/$1 [R=301,L]
RewriteRule ^articles/?[0-9]+/?[0-9]+/?[0-9]+/?([^/]+)\.html$ /blog/$1 [R=301,L]

RewriteRule ^blog/eternity http://themindfulbit.com/blog/eternity [R=301,L]
RewriteRule ^blog/static-and-free http://themindfulbit.com/blog/static-and-free [R=301,L]
RewriteRule ^blog/leave http://themindfulbit.com/blog/leave [R=301,L]
RewriteRule ^blog/with-the-grain http://themindfulbit.com/blog/with-the-grain [R=301,L]
RewriteRule ^blog/heaven-and-hell http://themindfulbit.com/blog/heaven-and-hell [R=301,L]
RewriteRule ^blog/shadows-on-a-wall http://themindfulbit.com/blog/shadows-on-a-wall [R=301,L]
RewriteRule ^blog/trees http://themindfulbit.com/blog/trees [R=301,L]
RewriteRule ^blog/typekit-asynchronous-font-loading http://themindfulbit.com/blog/typekit-asynchronous-font-loading [R=301,L]
RewriteRule ^blog/bang-meet-the-highest-energy http://themindfulbit.com/blog/bang-meet-the-highest-energy [R=301,L]
RewriteRule ^blog/gif-brewery http://themindfulbit.com/blog/gif-brewery [R=301,L]
RewriteRule ^blog/multi-singletasking http://themindfulbit.com/blog/multi-singletasking [R=301,L]
RewriteRule ^blog/filters http://themindfulbit.com/blog/filters [R=301,L]
RewriteRule ^blog/the-enviable-swiss-work-culture http://themindfulbit.com/blog/the-enviable-swiss-work-culture [R=301,L]
RewriteRule ^blog/crs-7-failure-investigation http://themindfulbit.com/blog/crs-7-failure-investigation [R=301,L]
RewriteRule ^blog/scarfolk-council http://themindfulbit.com/blog/scarfolk-council [R=301,L]
RewriteRule ^blog/bye-bye-betas http://themindfulbit.com/blog/bye-bye-betas [R=301,L]
RewriteRule ^blog/eight http://themindfulbit.com/blog/eight [R=301,L]
RewriteRule ^blog/of-course-slack-has-yo-integration http://themindfulbit.com/blog/of-course-slack-has-yo-integration [R=301,L]
RewriteRule ^blog/hurdles http://themindfulbit.com/blog/hurdles [R=301,L]
RewriteRule ^blog/gtd-2-electric-boogaloo http://themindfulbit.com/blog/gtd-2-electric-boogaloo [R=301,L]
RewriteRule ^blog/carousel-can-exclude-folders http://themindfulbit.com/blog/carousel-can-exclude-folders [R=301,L]
RewriteRule ^blog/stop-the-music http://themindfulbit.com/blog/stop-the-music [R=301,L]
RewriteRule ^blog/synology-cloud-station-as-diy-dropbox-alternative http://themindfulbit.com/blog/synology-cloud-station-as-diy-dropbox-alternative [R=301,L]
RewriteRule ^blog/spacex-puts-their-photos-in-public-domain http://themindfulbit.com/blog/spacex-puts-their-photos-in-public-domain [R=301,L]
RewriteRule ^blog/fitbit-adds-multiple-tracker-support http://themindfulbit.com/blog/fitbit-adds-multiple-tracker-support [R=301,L]
RewriteRule ^blog/whats-in-the-middle http://themindfulbit.com/blog/whats-in-the-middle [R=301,L]
RewriteRule ^blog/death-to-delight http://themindfulbit.com/blog/death-to-delight [R=301,L]
RewriteRule ^blog/errors http://themindfulbit.com/blog/errors [R=301,L]
RewriteRule ^blog/roll-with-the-seasons http://themindfulbit.com/blog/roll-with-the-seasons [R=301,L]
