<div id="about-header">

  <div class="about-logo">
    <img src="{{ theme:img src="about-logo.png"}}" alt="Logo" />
  </div>


</div>

<div id="about-text">

  <p>We're a small Nevada-based development shop focusing on custom web-applications. We also <a href="http://m.high90.com">write</a> on development and other topics, and occasionally we discuss things on our podcast.</p>

  If you'd like to get in touch or follow along, you can find us here:

  <ul class="contact">
    <li><img class="contact-icon" src="{{ theme:img src="medium-dark.svg"}}" alt="Medium"/><a href="http://m.high90.com">http://m.high90.com</a></li>
    <li><img class="contact-icon" src="{{ theme:img src="email-dark.svg"}}" alt="Email"/><a href="mailto:design@high90.com">design@high90.com</a></li>
    <li><img class="contact-icon" src="{{ theme:img src="twitter-dark.svg"}}" alt="Twitter"/><a href="http://twitter.com/_high90">@_high90</a></li>
  </ul>
</div>
