  <h2 class="more-header">Read More</h2>

  <ul class="more-posts">
    <li class="post news">
      <a alt="News" title="News" rel="page" href="/blog/categories/news" >

        <div class="post-title">
          <h2 class="title">

              News&nbsp;&rarr;

          </h2> 

          <div class="title-date">What's Happening?</div>
        </div>

      </a>
    </li> 
    <li class="post podcast">
      <a alt="News" title="News" rel="page" href="/blog/categories/podcast" >

        <div class="post-title">
          <h2 class="title">

              Podcast&nbsp;&rarr;

          </h2> 

          <div class="title-date">Listen In</div>
        </div>

      </a>
    </li> 
    <li class="post technology">
      <a alt="Technology" title="Technology" rel="page" href="/blog/categories/technology" >

        <div class="post-title">
          <h2 class="title">

              Technology&nbsp;&rarr;

          </h2> 

          <div class="title-date">Less is More</div>
        </div>

      </a>
    </li>  
    <li class="post productivity">
      <a alt="Productivity" title="Productivity" rel="page" href="/blog/categories/productivity" >

        <div class="post-title">
          <h2 class="title">

              Productivity&nbsp;&rarr;

          </h2> 

          <div class="title-date">Getting it Done</div>
        </div>

      </a>
    </li> 
    <li class="post design">
      <a alt="Design" title="Design" rel="page" href="/blog/categories/design" >

        <div class="post-title">
          <h2 class="title">

              Design&nbsp;&rarr;

          </h2> 

          <div class="title-date">How it Works</div>
        </div>

      </a>
    </li> 
    <li class="post ideas">
      <a alt="Ideas" title="Ideas" rel="page" href="/blog/categories/ideas" >

        <div class="post-title">
          <h2 class="title">

              Ideas&nbsp;&rarr;

          </h2> 

          <div class="title-date">What do <b>You</b> Think?</div>
        </div>

      </a>
    </li>
    <li class="post all">
      <a alt="All Posts" title="All Posts" rel="page" href="/archive" >

        <div class="post-title">
          <h2 class="title">

              All Posts&nbsp;&rarr;

          </h2> 

          <div class="title-date">Visit the Archive</div>
        </div>

      </a>
    </li> 

  </ul>

  <h2 class="more-header">We're So Meta</h2>

  <ul class="more-posts">

    <li class="post high90">
      <a alt="Home" title="Home" rel="page" href="/" >

        <div class="post-title">
          <h2 class="title">

              high90&nbsp;&rarr;

          </h2> 

          <div class="title-date">Go Home</div>
        </div>

      </a>
    </li> 
    <li class="post all">
      <a alt="About high90" title="About high90" rel="page" href="/about" >

        <div class="post-title">
          <h2 class="title">

              About high90&nbsp;&rarr;

          </h2> 

          <div class="title-date">Who we are, and what we do</div>
        </div>

      </a>
    </li> 
  </ul>